/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

:root {
  /* theme */
  --lime-green: hsl(163, 72%, 41%);
  --bright-red: hsl(356, 69%, 56%);
  --facebook: hsl(208, 92%, 53%);
  --twitter: hsl(203, 89%, 53%);
  --instagram: linear-gradient(to right, hsl(37, 97%, 70%), hsl(329, 70%, 58%));
  --youtube: hsl(348, 97%, 39%);

  /* dark theme */
  --toggle-dark: linear-gradient(
    to right,
    hsl(210, 78%, 56%),
    hsl(146, 68%, 55%)
  );
  --background-dark: hsl(230, 17%, 14%);
  --top-background-dark: hsl(232, 19%, 15%);
  --card-background-dark: hsl(228, 28%, 20%);
  --text-dark: hsl(228, 34%, 66%);
  --alt-text-dark: hsl(0, 0%, 100%);

  /* light theme */
  --toggle-light: hsl(230, 22%, 74%);
  --background-light: hsl(0, 0%, 100%);
  --top-background-light: hsl(225, 100%, 98%);
  --card-background-light: hsl(227, 47%, 96%);
  --text-light: hsl(228, 12%, 44%);
  --alt-text-light: hsl(230, 17%, 14%);
}

body {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  background: var(--background-dark);
  color: var(--alt-text-dark);
}

body.light {
  background: var(--background-light);
  color: var(--alt-text-light);
}

.container {
  width: 350px;
  margin: 0 auto;
}

/* Header styles */
.page-header {
  border-bottom: 1px solid rgba(204, 204, 204, 0.24);
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.page-header .title {
  font-size: 1.6rem;
  margin-bottom: 0;
}
.page-header .subtitle {
  font-size: 1rem;
  margin-top: 0.2rem;
  color: var(--text-dark);
}

/* Header styles - light overrides */
.light header .subtitle {
  color: var(--text-light);
}

/* Dark mode toggle 
   - source: https://www.w3schools.com/howto/howto_css_switch.asp
*/

.theme-switcher {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: var(--text-dark);
  font-weight: bold;
}
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 52px;
  height: 26px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--toggle-dark);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 3px;
  background-color: var(--background-dark);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--toggle-light);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--toggle-light);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* Dark mode toggle - light overrides */
.light .slider {
  background: var(--toggle-light);
}

.light .slider:before {
  left: 2px;
  background-color: var(--background-light);
}

.light .theme-switcher {
  color: var(--text-light);
}

/* Card styles */
.card {
  box-sizing: border-box;
  padding: 20px;
  margin: 20px 0;
  border: none;
  border-radius: 5px;
  background: var(--card-background-dark);
}

/* Card styles - light overrides */
.light .card {
  background: var(--card-background-light);
}

/* Social card styles */
.presence {
  display: grid;
  grid-template-columns: 1fr;
}

.social {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
}

.social .account {
  display: flex; /* chose flex to line up the icon and text to center */
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 0.7rem;
  color: var(--text-dark);
  margin-bottom: 0.8rem;
  text-align: center;
}

.social .account-source {
  margin-right: 10px;
}

.social .followers {
  font-size: 2rem;
  font-weight: bold;
}

.social .followers-label {
  font-size: 0.6rem;
  color: var(--text-dark);
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  margin-bottom: 1rem;
}

.social.facebook {
  border-top: 5px solid var(--facebook);
}

.social.twitter {
  border-top: 5px solid var(--twitter);
}

/* gradient border 
   - source: https://stackoverflow.com/questions/2717127/gradient-borders 

   Adding the gradient border was more complex than usual because of 
   the border-radius on the cards.

   Without a border-radius, you can use border-image-source which will
   accept a linear gradient. However, because the cards have a border
   radius, I opted for tweaking the size of the instagram card and
   positioning it over a
*/
.social.instagram {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  position: relative;
  height: 170px;
  margin-top: 25px;
}

.social.instagram::before {
  content: "";
  border-radius: 5px;
  background: var(--instagram);
  top: -5px;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.social.youtube {
  border-top: 5px solid var(--youtube);
}

.social .today {
  font-size: 0.8rem;
}

/* Social card styles - light overrides */
.light .social .account {
  color: var(--text-light);
}

.light .social .followers-label {
  color: var(--text-light);
}

/* Overview card styles */
.overview-cards {
  display: grid;
}
.stats {
  display: grid;
  grid-template-areas:
    "label source"
    "volume change";
}

.stats .stat-label {
  grid-area: label;
  font-size: 0.7rem;
  color: var(--text-dark);
  align-self: start;
  justify-self: start;
}

.stats .stat-volume {
  margin-top: 10px;
  grid-area: volume;
  font-size: 1.5rem;
  font-weight: bold;
  align-self: end;
  justify-self: start;
}

.stats .stat-source {
  grid-area: source;
  align-self: start;
  justify-self: end;
}

.stats .stat-change {
  grid-area: change;
  font-size: 0.6rem;
  align-self: end;
  justify-self: end;
}

/* Overview card styles - light overrides */
.light .stats .stat-label {
  color: var(--text-light);
}

/* attribution */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/* Media Query: Tablet */
@media (min-width: 700px) {
  .container {
    width: 90vw;
    max-width: 800px;
  }

  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .page-header {
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 0;
  }

  .theme-switcher .switch {
    margin-left: 20px;
  }

  .presence,
  .overview-cards {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 40px;
  }
}

/* Media Query: Desktop */
@media (min-width: 1400px) {
  .container {
    max-width: 1400px;
  }

  .presence,
  .overview-cards {
    grid-template-columns: repeat(4, 1fr);
  }
}
